extends layout

block append scripts
		script(src="../js/vendor/d3.v2.js")
		script(src="../js/vendor/d3.min.js")
		script(src="../js/vendor/d3.layout.min.js")
		script(src="../js/rickshaw.js")
		script(src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js")

block append styles
		link(href='../css/rickshaw.css', rel='stylesheet')
		link(href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css', rel='stylesheet')
		link(href="../css/datepicker.css", rel="stylesheet")
		style
			#date_container .line {
			display: inline-block;
			}
			#chart_container {
			display: block;
			width: 100%;
			}
			.swatch {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 8px 0 0;
			}
			.label {
			display: inline-block;
			float: left;
			}
			.rickshaw_graph .detail {
			background: none;
			}
			#interval #rollup {
				display: inline;
				float:left;
				margin-right : 10px;
			}

block content
	#wrap
		#date_container.inline
			label Date debut:
				input(type='text', name='fromdate', id='fromdate')
			label Date fin:
				input(type='text', name='todate', id='todate')
			select#interval
				option 1hour
				option 3hour
				option 6hour
				option 12hour
				option 1day
				option 7day
				option 1month
			select#rollup
				option mean
				option min
				option max
			input(type='button', onClick='drawChart()', name='btnPlot', value='Plot chart').btn.btn-primary

		.container
			#chart_container
				#chart
				#slider
				#legend

	script
		function clearGraph() {
			$('#legend').empty();
			$('#chart_container').html(
			'<div id="chart"></div><div id="slider"></div><div id="legend"></div>'
			);
		}

		function drawChart() {
			var selectrollup=document.getElementById("rollup");
			var rollupfn=selectrollup.options[selectrollup.selectedIndex].value;
			var selectinterval=document.getElementById("interval");
			var interval=selectinterval.options[selectinterval.selectedIndex].value;

			$.get('/chartData?fromdate='+fromdate.value+'&todate='+todate.value+'&function='+rollupfn + '&interval='+interval, function(data) {

				clearGraph();

				graph = new Rickshaw.Graph( {
					element: document.querySelector("#chart"),
					renderer: 'line',
					height : 500,
					series: data,
					min: 'auto'
				});

				graph.render();

				var hover = new Rickshaw.Graph.HoverDetail(	{
					graph: graph,
					yFormatter: function(y) { if (y > 35) { return Math.round(y) + " %" } else {return Math.round(y*10)/10 + " °C"} }
				});

				var legend = new Rickshaw.Graph.Legend({
					graph: graph,
					element: document.querySelector('#legend')
				});

				var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
					graph: graph,
					legend: legend
				});

				var ticksTreatment = 'glow';
				var xAxis = new Rickshaw.Graph.Axis.Time( {
					graph: graph,
					ticksTreatment: ticksTreatment
				} );
				xAxis.render();

				var yAxis = new Rickshaw.Graph.Axis.Y( {
					graph: graph,
					tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
					ticksTreatment: ticksTreatment
				} );
				yAxis.render();

				var slider = new Rickshaw.Graph.RangeSlider({
				graph: graph,
				element: document.querySelector('#slider')
				});

			});
		}

	script(type='text/javascript')
		$(document).ready(function() {
			var today = new Date();
			var yesterday = new Date(today.getTime() - (24 * 60 * 60 * 1000));
			var firstday = new Date();
			firstday.setDate(1);
			$("#fromdate").datepicker({dateFormat: 'yy-mm-dd'});
			$("#todate").datepicker({dateFormat: 'yy-mm-dd', maxDate: yesterday});
			$("#fromdate").datepicker("setDate", firstday);
			$("#todate").datepicker("setDate", yesterday);
			drawChart();
		});