extends layout

block append scripts
		script(src="../js/jquery-1.10.2.min.js")
		script(src="../js/jquery.dataTables.min.js")

block append styles
		link(href='../css/jquery-ui.1.9.2.css', rel='stylesheet')
		link(href='../css/jquery.dataTables.css', rel='stylesheet')
		style(type='text/css')
			html,body {
				height: 100%;
			}

block content
	#wrap
		table#ctdatatable
			thead
				th Rendering engine
				th Browser
				th Platform(s)
				th Engine version
				th CSS grade
			tbody
				td
				td
				td
				td
				td

	script
		function getCellarTrackerData() {
			$.get('/cellartracker', function() {
				$('#ctdatatable').dataTable(
				
				);
			});
		}

	script(type="text/javascript")
		$(document).ready(function () {
			getCellarTrackerData();
		});


