form(method="post")
	h1 Hello!
	p.subheading Please Login To Your Account
	label Username
	input(type="text", name="user", id='user-tf').span4.required
	label Password
	input(type="password", name="pass", id='pass-tf').span4.required
	button(type="submit")
	