extends layout

block append scripts
		script(src="../js/jquery-1.10.2.min.js")
		script(src="../js/raphael-min.js")
		script(src="../js/g.raphael.min.js")
		script(src="../js/g.pie.js")
		script(src="../js/g.bar-min.js")
		//script(src="../js/g.bar.label.js")

block append styles
		link(href='../css/jquery-ui.1.9.2.css', rel='stylesheet')

block content
	#wrap
		.container
			h2 #{title}
			#stats_container
				#country_chart
				#type_chart
				#vintage_chart
	script
		function drawCountryChart() {
			$.get('/stats/country', function(data) {
				var r = Raphael("country_chart");
				var pie = r.piechart(320, 240, 100, data.countriesStats, { legend: data.countries});
				r.text(320, 100, "Country stats Chart").attr({ font: "14px sans-serif" });
				pie.hover(function () {
					this.sector.stop();
					this.sector.scale(1.1, 1.1, this.cx, this.cy);
					if (this.label) {
						this.label[0].stop();
						this.label[0].attr({ r: 7.5 });
						this.label[1].attr({ "font-weight": 800 });
					}
				}, function () {
					this.sector.animate({ transform: 's1 1 ' + this.cx + ' ' + this.cy }, 500, "bounce");
					if (this.label) {
						this.label[0].animate({ r: 5 }, 500, "bounce");
						this.label[1].attr({ "font-weight": 400 });
					}
				});
			});
		}
		function drawTypeChart() {
			$.get('/stats/type', function(data) {
				var r = Raphael("type_chart");
				var pie = r.piechart(320, 250, 100, data.typeStats, { legend: data.types});
				r.text(320, 100, "Type stats Chart").attr({ font: "14px sans-serif" });
				pie.hover(function () {
					this.sector.stop();
					this.sector.scale(1.1, 1.1, this.cx, this.cy);
					if (this.label) {
						this.label[0].stop();
						this.label[0].attr({ r: 7.5 });
						this.label[1].attr({ "font-weight": 800 });
					}
				}, function () {
					this.sector.animate({ transform: 's1 1 ' + this.cx + ' ' + this.cy }, 500, "bounce");
					if (this.label) {
						this.label[0].animate({ r: 5 }, 500, "bounce");
						this.label[1].attr({ "font-weight": 400 });
					}
				});
			});
		}
		function drawVintageChart() {
			$.get('/stats/vintage', function(data) {
				var r = Raphael("vintage_chart"),
					fin = function () { this.flag = r.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);},
					fout = function () { this.flag.animate({opacity: 0}, 300, function () {this.remove();}); };
				var bar = r.barchart(0, 0, 600, 300, data.vintagesStats, {}).hover(fin, fout).label([data.vintage],true);
				r.text(320, 100, "Vintage stats Chart").attr({ font: "14px sans-serif" });
			});
		}
	script(type="text/javascript")
		$(document).ready(function () {
			drawCountryChart();
			drawTypeChart();
			drawVintageChart();
		});

