extends layout

block append scripts
		script(src="../js/jquery-1.10.2.min.js")
		script(src="../js/highcharts/highcharts.js")

block append styles
		link(href='../css/jquery-ui.1.9.2.css', rel='stylesheet')
		style(type='text/css')
			#half_container{ width: 100%}
			#country_chart{ width: 50%; float: right}
			#type_chart{ width: 50%; float: left}

block content
	#wrap
		.container
			h2 #{title}
			#stats_container
				#half_container
					#country_chart
					#type_chart
				#vintage_chart
	script
		function drawVintageChart() {
			$.get('/stats/vintage', function(data) {
				$('#vintage_chart').highcharts({
					chart: { type: 'column', margin: [ 50, 50, 100, 80]},
					title: {text: 'Vintages repartition in cellar'},
					xAxis: {categories: data.vintages,labels: {rotation: -45,align: 'right',style: {fontSize: '13px',fontFamily: 'Verdana, sans-serif'}}},
					yAxis: {min: 0,title: {text: 'Vintages'}},
					legend: {enabled: false},
					tooltip: {pointFormat: 'Vintages in cellar: <b>{point.y} bt</b>',},
					series: [{  name: 'Vintages',
								data: data.vintagesStats,
								dataLabels: {enabled: true, rotation: -90, color: '#FFFFFF', align: 'right', x: 4, y: 10, style: { fontSize: '13px', fontFamily: 'Verdana, sans-serif', textShadow: '0 0 3px black'} }
							}]
				});
			});
		}

		function drawCountryChart() {
			$.get('/stats/country', function(data) {
				$('#country_chart').highcharts({
					chart: { plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false },
					title: { text: 'Countries'},
					tooltip: { pointFormat: '{series.name}: <b>{point.y}</b>' },
					plotOptions: {  pie: {   allowPointSelect: true, cursor: 'pointer',
									dataLabels: { enabled: true, color: '#000000', connectorColor: '#000000', format: '<b>{point.name}</b>: {point.y} bt' } }
					},
					series: [{ type: 'pie', name: 'Country stats', data: data.countryStats }]
				});
			});
		}

		function drawTypeChart() {
			$.get('/stats/type', function(data) {
				$('#type_chart').highcharts({
					chart: { plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false },
					title: { text: 'Type'},
					tooltip: { pointFormat: '{series.name}: <b>{point.y} bt</b>' },
					plotOptions: {  pie: {   allowPointSelect: true, cursor: 'pointer',
									dataLabels: { enabled: true, color: '#000000', connectorColor: '#000000', format: '<b>{point.name}</b>: {point.y} bt' } }
					},
					series: [{ type: 'pie', name: 'Type stats', data: data.typeStats }]
				});
			});
		}

	script(type="text/javascript")
		$(document).ready(function () {
			drawCountryChart();
			drawTypeChart();
			drawVintageChart();
		});

