.container-narrow
  .masthead
    ul(class="nav nav-pills pull-right")
      li
        a(href="#") Home
      li
        a(href="#") About
      li
        a(href="#") Contact
    h3(class="muted") Demo Node.js
    hr
    div(class="jumbotron")
      h1 Demo NodeJs
      p(class="lead") Build with Node.js, Express, Jade & Twitter Bootstrap !
      a(class="btn btn-success", id="btn") By Code4Fun.fr
